<!DOCTYPE html>
<html>
  <head>
    <title> ERROR </title>
    <style>
      .button1 {
        background-color: #dbeba4;
        border: none;
        color: #2e2929;
        padding: 15px 32px;
        display: block;
        margin-top: 50px;
        margin-left: 30%;
        margin-right: 30%;
        text-align: center;
        font-size: 30px;
        border-radius: 10px;
        opacity: 0.5;
      }
    </style>  
  <head>
  <body>
    <h1> ERROR </h1>
    <h2>{{message}}</h2>
    <a href="{{url_for('index')}}" class="button1" role="button">Go to Home</a>
  </body>
</html>
