<!DOCTYPE html>
<html>
  <head>
    <title> History </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>

    <script src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-map.js?key=ZXYoA2xacYmRlCovjBD8y7343AG5Nqo0"></script>
    <script src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-routing.js?key=ZXYoA2xacYmRlCovjBD8y7343AG5Nqo0"></script>

    <script src='https://api.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js'></script>
    <script src='https://www.unpkg.com/turf@3.0.14/turf.js'></script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>

    <style>
    .header {
      padding: 10px;
      text-align: left;
      background: white;
      color: black;
      font-size: 25px;
    }
    #map {
      position: absolute;
      height: 70%;
      width: 100%;
    }
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
    /* Column container */
    .row {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }

    /*left column*/
    .left {
      -ms-flex: 100%;
      flex: 100%;
      background-color: #f1f1f1;
      padding: 20px;
      text-align: center;
    }
    /*right column*/
    .right {
      -ms-flex: 30%;
      flex: 30%;
      background-color: white;
      padding: 20px;
      text-align: center;
    }
    .center {
      margin: auto;
      width: 30%;
      padding: 0px 0;
      text-align: center;
    }

    @media screen and (max-width: 600px) {
      .center {
        width: 80%!important;
    }
  }
    </style>

  </head>

  <body>

    <!-- Add in header section with bootstrap navigation buttons -->
    <div class="header">
         <a href="{{url_for('logout')}}" class="btn btn-primary" role="button" >Logout</a>
         <a href="{{url_for('usermap')}}" class="btn btn-primary" role="button">Go to Map</a>
         <a href="{{url_for('history')}}" class="btn btn-primary" role="button" >Dog History</a>
         <div style="float:right">
           <img src="https://raw.githubusercontent.com/12sknight/ENGO551_Final/main/icons/dog.png" style="width:50px;height:50px;">
         </div>
     </div>

     <div class="row">
       <div class="left">
         <h3> View dog location history: </h3><br>

      <form action="{{ url_for('history') }}" method="post">
         <label for="dogs">Choose a dog:</label>
          <select name="dogs" id="dogpicker">
            {% for d in dogs %}
            <option value="{{d['dog']}}">{{d['dog']}}</option>
            {% endfor %}
          </select><br>
         <h3>Date</h3>
         <div class = "center" >
           <input id="datepicker" name="datepicker" width="340"  /><br>
         </div>
           <input type="submit" class="btn btn-outline-dark btn active" onclick="checkdate();" role="button" id="search" value="Search" />
         </form>
             <p3>Please enter a Date</p3>
             <p4> No results found for {{dogname}} on {{ date }} </p4>
             <br><br>

            <p2> Distance travelled: <b> <span id="results"></span> </b> Km by:<br> <b>{{dogname}}</b> on {{ date }}<br> from <span id="timestart"></span> to <span id="timeend"></span>  </p2> <br>


         <div id="map"></div>
       </div>

    </div>


     <script>
     $('#datepicker').datepicker({ format: 'yyyy-mm-dd' });
     $('#datepicker2').datepicker({ format: 'yyyy-mm-dd' });
     //Hide error msg by default
     $("p3").hide();
     $("p4").hide();

     //hide info message by default
     $("p2").hide();



     var map;

     map = L.map('map', {
       layers: MQ.mapLayer(),
       center: [ 51.044, -114.07 ],
       zoom: 11
     });

     var waterIcon = new L.Icon({
       iconUrl: 'https://github.com/12sknight/ENGO551_Final/blob/main/icons/fountain.png?raw=true',
       iconSize: [25, 25],
       iconAnchor: [12, 6],
     });


//create multilinestring feature to show history if available
    var geojsonFeature = {
    "type": "Feature",
    "properties": {
    },
    "geometry": {
        "type": "MultiLineString",
        "coordinates":
                [[
        {% for dict_item in history %}
          {% if dict_item['lat'] is defined %}
          [{{dict_item['lng']}}, {{dict_item['lat']}}],
        {% endif %}
      {% endfor %}
              ]]
    }
};
var ftemp = new L.GeoJSON(geojsonFeature).addTo(map);

var path = [];
var times = [];
{% for h in history %}
  {% if h['lat'] is defined %}
  var lat = {{h['lat']}};
  var lng = {{h['lng']}};
  var time = '{{h['tme']}}';

  path.push([{{h['lat']}}, {{h['lng']}}]);
  times.push(time);

  //zoom to history
  map.setView([lat, lng],15);
  {% endif %}
{% endfor %}


//send all info to page for viewing
var dis = '{{distance}}';
console.log(dis);
document.getElementById("results").innerHTML = dis;

var t1 = times[0];
var t2 = times[times.length-1];
document.getElementById("timestart").innerHTML = t1;
document.getElementById("timeend").innerHTML = t2;

if (path.length > 0){
  $("p2").show();
}

if (dis === '0'){
  $("p4").show();
}


     //Function used to check date is entered
       function checkdate (){
         let d1 = $( "#datepicker" ).datepicker().val()
           if (d1 == ""){
             $("p3").show();
             event.preventDefault();
           }
         }


     </script>

  </body>
</html>
