<!DOCTYPE html>
<html>
  <head>
    <title> Map </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>

    <script src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-map.js?key=ZXYoA2xacYmRlCovjBD8y7343AG5Nqo0"></script>
    <script src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-routing.js?key=ZXYoA2xacYmRlCovjBD8y7343AG5Nqo0"></script>

    <script src='https://api.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js'></script>
    <script src='https://www.unpkg.com/turf@3.0.14/turf.js'></script>

    <style>
    .header {
      padding: 10px;
      text-align: left;
      background: white;
      color: black;
      font-size: 25px;
    }
    #map {
      position: absolute;
      z-index:1;
      height: 100%;
      width: 100%;
    }

    </style>

  </head>

  <body>

    <!-- Add in header section with bootstrap navigation buttons -->
    <div class="header">
         <a href="{{url_for('logout')}}" class="btn btn-primary" role="button" >Logout</a>
         <button type="button" class="btn btn-primary" onclick="closestpark()" id="park" data-toggle="tooltip" title="Find the closest dog park">Closest Park</button>
         <button type="button" class="btn btn-primary" onclick="closestwater()" id="water" data-toggle="tooltip" title="Find the closest water fountain">Closest Water Fountain</button>
         <a href="{{url_for('history')}}" class="btn btn-primary" role="button" >Dog History</a>
         <div style="float:right">
           <img src="https://raw.githubusercontent.com/12sknight/ENGO551_Final/main/icons/dog.png" style="width:50px;height:50px;">
         </div>
     </div>

     <div id="map"></div>


     <script>

     var map;

     map = L.map('map', {
       layers: MQ.mapLayer(),
       center: [ 51.044, -114.07 ],
       zoom: 11
     });

     var waterIcon = new L.Icon({
       iconUrl: 'https://github.com/12sknight/ENGO551_Final/blob/main/icons/fountain.png?raw=true',
       iconSize: [35, 35],
       iconAnchor: [12, 6],
     });

     var dogIcon = new L.Icon({
       iconUrl: 'https://raw.githubusercontent.com/12sknight/ENGO551_Final/main/icons/dog.png',
       iconSize: [25, 25],
       iconAnchor: [12, 6],
     });

     var watersource = L.layerGroup();
     var dogparks = L.layerGroup();
     var doglast = L.layerGroup();
     var mql;
     var pArray = [];
     var tArray = [];

//add dog(s) last location to map
{% for l in latest %}
var markd = L.marker(['{{l[2]}}', '{{l[3]}}'], {icon: dogIcon}).bindPopup('<b> {{l[1]}} </b>' + '<br>' + '{{l[4]}} ' + '{{l[5]}}');
markd.addTo(doglast);
{% endfor %}
doglast.addTo(map);

//Add parks data to layer
{% for p in parks %}
var geojsonFeature = [{
"type": "Feature",
"properties": {
  "Location": '{{ p['parcel_location'] }}'
},
"geometry": {
   "type": "Polygon",
   "coordinates": {{ p['geom'] }}
   }
}];

var ftemp = new L.GeoJSON(geojsonFeature, {
  onEachFeature: onEachFeature
}).addTo(map);
ftemp.addTo(dogparks);

{% endfor %}

//Function to bind popup to each geojson feature
function onEachFeature(feature, layer) {
        layer.bindPopup('<b>Location: </b>'  + feature.properties.Location);
}

//create turf array
var parkpoints = turf.featureCollection([
{% for p in parks %}
turf.point([{{ p['lat'] }}, {{ p['lng'] }}]),
{% endfor %}
]);

     //Add water data to layer
     {% for w in water %}
     var marker = L.marker([{{ w['latitude'] }}, {{ w['longitude'] }}], {icon: waterIcon}).bindPopup('Doggie Fountain');
     marker.addTo(watersource);
     {% endfor %}
     watersource.addTo(map);

     //create turf array
     var waterpoints = turf.featureCollection([
       {% for w in water %}
       turf.point([{{ w['latitude'] }}, {{ w['longitude'] }}]),
       {% endfor %}
     ]);


     // finds and displays route to closest dog park
     function closestpark() {
       //disable button
       $("#park").attr("disabled", true);
       //remove route to water source if on map
       if (mql != undefined) {
       map.removeLayer(mql);
       mql.clearLayers();
       };
       //re-enable water button
       $('#water').removeAttr('disabled');

       //get geolocation
       if (navigator.geolocation) {
           navigator.geolocation.getCurrentPosition(showParkRoute);
       } else {
           console.log("denied");
       }

       function showParkRoute(position) {
         var targetPoint = turf.point([position.coords.latitude, position.coords.longitude]);
         var nearestpark = turf.nearest(targetPoint, parkpoints);


         //show route
         var dir = MQ.routing.directions();
         dir.route({
             locations: [
                 { latLng: { lat: position.coords.latitude, lng: position.coords.longitude } },
                 { latLng: { lat: nearestpark.geometry.coordinates[0], lng: nearestpark.geometry.coordinates[1] } },
             ]
         });

         mql = MQ.routing.routeLayer({
            directions: dir,
         }).addTo(map);
      }
     }


     // finds and displays route to closest water source
     function closestwater() {
       //disable button
       $("#water").attr("disabled", true);
       //re-enable park button
       $('#park').removeAttr('disabled');
       //remove route to park if on map
       if (mql != undefined) {
       map.removeLayer(mql);
       mql.clearLayers();
       };
       //get geolocation
       if (navigator.geolocation) {
           navigator.geolocation.getCurrentPosition(showWaterRoute);
       } else {
           console.log("denied");
       }

       function showWaterRoute(position) {
         var targetPoint = turf.point([position.coords.latitude, position.coords.longitude]);
         var nearestwater = turf.nearest(targetPoint, waterpoints);

         //show route
         var dir = MQ.routing.directions();
         dir.route({
             locations: [
                 { latLng: { lat: position.coords.latitude, lng: position.coords.longitude } },
                 { latLng: { lat: nearestwater.geometry.coordinates[0], lng: nearestwater.geometry.coordinates[1] } },
             ]
         });

         mql = MQ.routing.routeLayer({
            directions: dir,
         }).addTo(map);
      }
     }


     //Add overlay control
     var overlayMaps = {
     "Dog Parks": dogparks,
     "Water Fountains": watersource
     };

     //add layer control
     var layerscontrol = L.control.layers(overlayMaps).addTo(map);

     </script>

  </body>
</html>
